/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/


body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-image: url("../images/bgtile.png");
  background-repeat: repeat-x;
  max-height: 60vh;
}


header {
  margin: 100px 100px;
  display: flex;
  align-items: center;

}

section {
  margin
}

.phones {
  height: 800px;
}

#left {

  width: 50%;

}

#right {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.brand {
  margin-top: 25px;
  height: 120px;
}

.button {
  background-color: rgb(55, 118, 170)
}

h3 {
  color: rgb(55, 118, 170);
  font-weight: bold;
  font-size: 1.8em;
}

article {
  background-image: url("../images/frame.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.3em;
  border-radius: 10%;
  background-color: white;
  border-radius: 10% 10% 0 0;
  padding: 10%;
}

.brand-button {
  display: flex;
  justify-content: center;
}

button {
  width: 80px;
  height: 50px;
}

.download-apps {
  display: flex;

}


#footer-bar {
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  align-items: center;

}

nav ul {
  text-transform: uppercase;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;

}

nav ul>li {
  color: rgb(55, 118, 170);
  padding: 20px;
  font-weight: bold;
  text-decoration: none;
  align-content: center;
  display: flex;
}

nav ul>li>a {
  text-decoration: none;
}